---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import Prose from "../components/Prose.astro";
import { formatDate } from "../scripts/format_date.js";
import PostCardTag from "../components/PostCardTag.astro";
import PostPicture from "../components/PostPicture.astro";

interface Props {
  post: CollectionEntry<"posts">;
  loading?: "eager" | "lazy";
}

const { post, loading = "lazy" } = Astro.props;
const { title, description, pubDate, editDate, author, cover, alt, tags } =
  post.data;

const url = `https://hellochris.dev/posts/${post.id}`;
const imageUrl = `https://hellochris.dev/images/${cover.src}`;

const formattedPubDate = formatDate(pubDate);
let formattedEditDate: string | null = null;

if (editDate) {
  formattedEditDate = formatDate(editDate);
}
---

<BaseLayout pageTitle={title} description={description} keywords={tags}>
  <Fragment slot="meta-tags">
    <meta property="og:url" content={url} />
    <meta property="og:article" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={imageUrl} />
    <meta name="twitter:card" content="summary" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.15/dist/katex.css"
      integrity="sha384-zLeDfjAc8DwENEGNNTkTTnfsm/SivaEXAA2fE7fRzBTXD0tVOIzGYvE5XYRds2T3"
      crossorigin="anonymous"
    />
  </Fragment>
  <Prose>
    <h1
      class="text-balance text-center underline decoration-sky-600 decoration-8">
      {title}
    </h1>
    <div class="text-center">
      <PostPicture
        src={cover}
        alt={alt}
        showAlt={false}
        title="Cover image"
        loading={loading}
      />
    </div>
    <div class="italic text-stone-500">
      <p>
        Published {formattedPubDate}
        {formattedEditDate && <br />}
        {formattedEditDate && `Edited ${formattedEditDate}`}
      </p>
    </div>
    <div class="flex flex-wrap gap-2">
      {tags.map((tag: string) => <PostCardTag tag={tag} />)}
    </div>
    <article>
      <slot />
    </article>
  </Prose>
</BaseLayout>
