---
import type { CollectionEntry } from "astro:content";
import { Picture } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
import Prose from "../components/Prose.astro";
import { formatDate } from "../scripts/format_date.js";
import PostCardTag from "../components/PostCardTag.astro";
import PostPicture from "../components/PostPicture.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { title, description, pubDate, editDate, author, cover, alt, tags } =
  post.data;

const formattedPubDate = formatDate(pubDate);
let formattedEditDate: string | null = null;

if (editDate) {
  formattedEditDate = formatDate(editDate);
}
---

<BaseLayout pageTitle={title} description={description} keywords={tags}>
  <Prose>
    <h1
      class="text-balance text-center underline decoration-sky-600 decoration-8">
      {title}
    </h1>
    <div class="text-center">
      <PostPicture src={cover} alt={alt} showAlt={false} title="Cover image"/>
    </div>
    <div class="italic text-stone-500">
      <p>
        Published {formattedPubDate}
        {formattedEditDate && <br />}
        {formattedEditDate && `Edited ${formattedEditDate}`}
      </p>
    </div>
    <div class="flex flex-wrap gap-2">
      {tags.map((tag: string) => <PostCardTag tag={tag} />)}
    </div>
    <article>
      <slot />
    </article>
  </Prose>
</BaseLayout>
